name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        php: [7.4, 8.0, 8.1]
        laravel: [8.*, 9.*]
        dependency-version: [prefer-lowest, prefer-stable]
        os: [ubuntu-20.04]
        include:
          - laravel: 9.*
            testbench: 7.*
            testbench-constraint: ^7.0.0
          - laravel: 8.*
            testbench: 6.*
            laravel-constraint: ^8.18.1
            testbench-constraint: ^6.7.0
          - php: 7.4
            dependency-version: prefer-lowest
            additional-deps: '"mockery/mockery:>=1.2.3"'
          - php: 8.0
            dependency-version: prefer-lowest
            additional-deps: '"mockery/mockery:>=1.3.3"'
        exclude:
          - laravel: 9.*
            php: 7.4

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel-constraint || matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench-constraint || matrix.testbench }}" ${{ matrix.additional-deps }} --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit
